/*section whyus*/
.why-us .content{
        background-image: url("../../../../public/imgs/why-us-overlay.avif");

}
/* end elgiwar section Features*/
/*----------------------------Media queries -------------------------------------*/
/*media for mm media*/
@media screen and (max-width:768px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(2,1fr) !important;
    }
}
/*media for xsm media*/
@media screen and (max-width:550px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(1,1fr) !important;
    }
      .elgiwar-works .img3 .work1{
        right: 8%;
    }
        .header .company-phone{
            background: orange;
            border-radius:5px;
            padding: 5px;

    }
    .header .company-gmail{
        display: none;
    }
           
}
/*media for xxsm media*/
@media screen and (max-width:450px){
.elgiwar-works .box1 .img1,
.elgiwar-works .box1 .img2,
.elgiwar-works .box1 .img3,
.elgiwar-works .box1 .img4,
.elgiwar-works .box1 .img5{
    background-position: top;
    height: 100%

}
}
/*media for screen 500px to 700px */   
@media screen and (min-width:550px) and (max-width:700px) {
   .elgiwar-works .box1 .img1,
.elgiwar-works .box1 .img2,
.elgiwar-works .box1 .img3,
.elgiwar-works .box1 .img4,
.elgiwar-works .box1 .img5{
    background-position: right;
}
}

/*media for md 768px screen and up  */   
@media screen and (min-width:768px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(3,1fr) !important;
    }
}
/*offers*/
.swiper-offer{
    height: initial !important;
    padding-bottom: 40px !important;
}
  /* media for screens sm  */
  @media screen and (max-width:500px) {
      .container_courses{
          grid-template-columns: repeat(1, minmax(0, 1fr));
      } 
      .img img{
          height: 240px !important;
      }
         .btn-search:focus ~ .input-search{
          width: 150px !important;
      }
        .btn-search:focus ~ .input-search{
          width: 150px !important;
      }
          .input-search:focus{
          width: 150px !important;
   
      }
  }
  /*  media frm md  767px and less */
  @media screen and (max-width:767px) {
      .swiper-offer .swiper-slide{
    display: flex !important;
}
     .auth{
    display: flex;
  }
    .auth_container{gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: end;
     }
    .register{
    display:block !important;
  }
    .register-text{
    padding:12px 20px !important;
  }
        .btn-search:focus ~ .input-search{
          width: 200px;
      }
          .input-search:focus{
          width: 200px;
  
      }
  }
  @media screen and (min-width:900px) {
      .btn-search:focus ~ .input-search{
          width: 180px;
      }
      .input-search:focus{
          width: 180px;
  
      }
  }
  
.elgiwar-works .box1 .work1{
        top:60%;
    } 
   .elgiwar-works .box1 .work1{
        right: 14%;
    }
  
  
  
  
  
  
  
   