/* ------------------------Courses------------------------------------  */
*{
    box-sizing: border-box;
  }
body{
/*    height: 3000px;*/
/*    background: blue;*/
}
/* start elgiwar section works*/
.elgiwar-works .box1 .img1{
    background-image: url("../../../../public/imgs/elhag2.png");
}
.elgiwar-works .box1 .img2{
    background-image: url("../../../../public/imgs/booking.png");
}.elgiwar-works .box1 .img3{
    background-image: url("../../../../public/imgs/outside-travels.png");
}.elgiwar-works .box1 .img4{
    background-image: url("../../../../public/imgs/booking.png");
}.elgiwar-works .box1 .img5{
    background-image: url("../../../../public/imgs/fly-tickets.png");
}
.elgiwar-works .box1 .img1,
.elgiwar-works .box1 .img2,
.elgiwar-works .box1 .img3,
.elgiwar-works .box1 .img4,
.elgiwar-works .box1 .img5{
    background-size: cover;
    background-position: top;
    border-radius: 6px;
}

/* end elgiwar section works*/
@media screen and (max-width:768px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(2,1fr) !important;
    }
    .elgiwar-works .box1 > div{
        height: 290px !important;
    }
}

@media screen and (max-width:550px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(1,1fr) !important;
    }
      .elgiwar-works .img3 .work1{
        right: 8%;
    }
        .header .company-phone{
            background: orange;
            border-radius:5px;
            padding: 5px;

    }
    .header .company-gmail{
        display: none;
    }
           
}
@media screen and (max-width:450px){
.elgiwar-works .box1 .work1{
        top:50%;
    } 
  
    .elgiwar-works .box1 .img1,
.elgiwar-works .box1 .img2,
.elgiwar-works .box1 .img3,
.elgiwar-works .box1 .img4,
.elgiwar-works .box1 .img5{
    background-position: top;
    height: 100%

}
        .elgiwar-works .box1 > div {
        height: 200px !important;
    }

}
      
@media screen and (min-width:550px) and (max-width:700px) {
   .elgiwar-works .box1 .img1,
.elgiwar-works .box1 .img2,
.elgiwar-works .box1 .img3,
.elgiwar-works .box1 .img4,
.elgiwar-works .box1 .img5{
    background-position: right;
}
}


@media screen and (min-width:768px){
    .elgiwar-works .box1 {
        grid-template-columns: repeat(3,1fr) !important;
    }
}

@media screen and (min-width:1200px){
    .elgiwar-works .box1 .work1{
        right: 15%;
    }
}

@media screen and (max-width:400px){
   
}














.button-send{
    height: fit-content;
}







  /*start style footer*/
  /*--------------------------footer-------------------*/
  .footer-up{
      background: #212121;
      color: white;
  }
  .footer-up .cities{
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
          gap: 10px;
          border-bottom: 2px solid #424242;
          padding-bottom: 30px;
  
  }
  .footer-up .cities > .group-1 div{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #F5F5F5;
  padding-top: 10px;
  }
  .footer-up h2{
      padding-top: 40px;
      padding-bottom: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
  
      /* color: #FFFFFF; */
      
      
  }
  
  a{
/*      color: #FFFFFF;*/
  
      text-decoration: none;
  }
  /*---------------part-2----------*/
  
  
  .part-two-footer .two-section{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
          padding-top: 20px;
          border-bottom: 1px solid hsl(0, 0%, 26%);
          padding-bottom: 60px;
          gap: 15px; 
  
  }
  
  
  .part-two-footer .company {
       display: grid;
      grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
          gap: 10px; 
          
  }
  .part-two-footer .company .one p{
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #F5F5F5;
  padding-top: 10px;
  
  }
  
  
  .part-two-footer h2{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  
  text-transform: uppercase;
  
  color: #F5F5F5;
  
  opacity: 0.6
     
  }
  .form .sub{
      padding-top: 20px !important;
      padding-bottom: 20px;
      padding-left: 10px !important;
      
  }
  .form-up  .align{
      padding: 30px 0px;
      display: flex;
      align-items:center;
      flex-wrap:wrap ;
  }
  .form-up  .align >div input{
      color: #FEFAF1;
  }
  
  .part-two-footer .follow-us  p{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      padding-bottom: 30px;
      color: #BBBBBB;
  
  }
  
  
  .part-two-footer .follow-us  .sub a{
      padding: 15px 24px;
      
      background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
      box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
      border-radius: 8px;
      
      
  
  }
  .part-two-footer .follow-us form input{
      outline: none;
      border: none;
      padding: 15px 24px;
      gap: 10px;
     background: #424242;
      border-radius: 8px;
      
      
      
  }

.img-offer1{
        background-image: url("../../../../public/imgs/hag1.jpg");
background-size: cover;
    background-position: top;
}
.img-offer2{
        background-image: url("../../../../public/imgs/grand1.jpg");
background-size: cover;
    background-position: top;
}
.img-offer3{
        background-image: url("../../../../public/imgs/gharda.jpg");
background-size: cover;
    background-position: top;
}
.img-offer4{
        background-image: url("../../../../public/imgs/northcoast.jpg");
background-size: cover;
    background-position: top;
}
.img-offer5{
        background-image: url("../../../../public/imgs/dubai.jpg");
background-size: cover;
    background-position: top;
}
.img-offer6{
        background-image: url("../../../../public/imgs/paris.jpg");
background-size: cover;
    background-position: top;
}
.swiper-offer{
    height: initial !important;
    padding-bottom: 40px !important;
}

/*
.swiper-offer .swiper-slide{
    display: flex;
}
*/
/*why*/
.why-us .content{
        background-image: url("../../../../public/imgs/why-us-overlay.avif");
/*
background-size: cover;
    background-position: center;
*/
}

  /*----------hero footer------------*/
  .hero-footer{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
          gap: 10px;
          padding-bottom: 50px;
          padding-top: 20px;
          background-color: #212121;
  }
  .hero-footer1{
      background-color: #212121;
  }
  .part-two-footer{
     background-color: #212121;
  }
  .hero-footer .left{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #F5F5F5;
  
      }
  .hero-footer .right{
  display: flex;
   justify-content: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #F5F5F5;
  
      }
      .form-center .subscribe{
          padding: 20px 0;
      }
      .form-center .subscribe > div{
         padding-left: 10px;
          
      }
  @media screen and (max-width:700px){
      .hero-footer .right{
           justify-content: flex-start
      }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* media for screens sm  */
  @media screen and (max-width:500px) {
      .container_courses{
          grid-template-columns: repeat(1, minmax(0, 1fr));
      } 
      .img img{
          height: 240px !important;
      }
         .btn-search:focus ~ .input-search{
          width: 150px !important;
      }
        .btn-search:focus ~ .input-search{
          width: 150px !important;
      }
          .input-search:focus{
          width: 150px !important;
   
      }
  }
  /* /* media frm md  768px and less */
  @media screen and (max-width:767px) {
      .swiper-offer .swiper-slide{
    display: flex !important;
}
     .auth{
    display: flex;
  }
    .auth_container{gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: end;
     }
    .register{
    display:block !important;
  }
    .register-text{
    padding:12px 20px !important;
  }
        .btn-search:focus ~ .input-search{
          width: 200px;
      }
          .input-search:focus{
          width: 200px;
  
      }
  }
  @media screen and (min-width:900px) {
      .btn-search:focus ~ .input-search{
          width: 180px;
      }
      .input-search:focus{
          width: 180px;
  
      }
  }
  
/*  test*/
.grid-container {
  display: grid;
  gap: 10px; /* Adjust as needed */
}

.item1, .item2, .item3, .item4 {
  grid-column: span  1
      ; /* Each item takes one column */
}

.item5 {
  grid-column: 1 /  3;
  grid-row: span  1; 
}

  
  
  
  
  
  
  
  
   